<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:bean="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <bean:http auto-config="true" use-expressions="false">
        <bean:intercept-url pattern="/views/user/animal-registration.xhtml" access="ROLE_USER, ROLE_ADMIN"/>
        <bean:intercept-url pattern="/views/admin/**" access="ROLE_ADMIN"/>
        <bean:form-login login-page="/views/login.xhtml"
                         password-parameter="password"
                         username-parameter="username"
                         login-processing-url="/j_spring_security_check"
                         authentication-success-handler-ref="myAuthenticationSuccessHandler"
                         authentication-failure-url="/views/loginfailed.xhtml?error=true"/>
        <bean:logout logout-success-url="/views/index.xhtml"
                     />
        <bean:anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <bean:csrf disabled="true"/>
    </bean:http>

    <bean id="myAuthenticationSuccessHandler"
          class="com.github.karina_denisevich.animal_shelter.beans.security.MySimpleUrlAuthenticationSuccessHandler"/>

    <bean:authentication-manager alias="authenticationManager">
        <bean:authentication-provider user-service-ref="myUserDetailsService">
            <bean:password-encoder ref="encoder"/>
        </bean:authentication-provider>
    </bean:authentication-manager>

    <bean id="encoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg name="strength" value="11"/>
    </bean>
</beans>
